<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-heading" data-cy="FoodCreateUpdateHeading" jhiTranslate="foodApp.food.home.createOrEditLabel">
        Create or edit a Food
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foodApp.food.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foodApp.food.category" for="field_category">Category</label>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="category1" [value]="Category.FOOD" formControlName="category" />
            <label class="form-check-label" for="category1">
              {{ Category.FOOD }}
            </label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="category2" [value]="Category.BEVERAGE" formControlName="category" />
            <label class="form-check-label" for="category2">
              {{ Category.BEVERAGE }}
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foodApp.food.description" for="field_description">Description</label>
          <input type="text" class="form-control" name="description" id="field_description" data-cy="description" formControlName="description" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foodApp.food.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="foodApp.food.imgUrl" for="field_imgUrl">Img Url</label>
          <div class="row">
            <div class="col-6">
              <input #foodImg type="file" class="form-control mb-1" (change)="onFileChanged($event)" accept="image/*" />
              <button type="button" class="btn btn-danger" (click)="clearImage()">
                Clear Image
              </button>
            </div>
            <div class="col-6">
              <img [src]="editForm.get('imgUrl')?.value ? editForm.get('imgUrl')?.value : BLANK_IMAGE_URL" alt="Selected Image" style="max-width: 300px; max-height: 300px;" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
