<div class="row min-vh-100 d-flex align-items-center text-center bg-primary">
  <div class="col-12 p-0">
      <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">Welcome to FoodApp</h1>
      <h5 class="text-white mt-3 mb-4" data-aos="fade-right">WE PROVIDE FOOD FOR YOU TO EAT</h5>
      <div data-aos="fade-up" data-aos-delay="50" *ngIf="account==null">
          <a class="btn btn-dark me-2" [routerLink]="['/login']">Login</a>
          <a class="btn btn-light ms-2"  [routerLink]="['/account/register']">Register</a>
      </div>
  </div>
</div>
